* {
    font-family: Segoe UI;
}
#navbar {
    background-color: lightblue;
    padding: 0.2%;
}
li {
    font-size: 1.5em;
    text-decoration: none;
    color: black;
    display: inline-block;
    padding-right: 2%;
}

#comment-reply-container {
    margin-left: 5%;
}

#reply-thread-container {
    margin-left: 8%;
}

#highest-depth-reply-container {
    margin-left: 11%;
}