<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>edit post</title>
</head>
<body>
    <form class="create-post-form" method="post">
        <label for="post-title">Title</label>
        <div class="field">
            <input id="post-title" type="text" name="input-title" value="{{ post.title }}">
        </div>
        <label for="post-content">Content</label>
        <div class="field">
            <textarea id="post-content" type="text" name="input-content" placeholder="{{ post.content }}"></textarea>
        </div>
        <input type="submit">
    </form>
</body>
</html>