<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ post.title }}</title>
</head>
<link rel="stylesheet" href="/static/style.css">
<body>
<div id="navbar">
    <ul>
        <a href="{{ url_for('home') }}"><li>Home</li></a>
        <a href="{{ url_for('posts') }}"><li>Forum</li></a>
         {% if not current_user.is_authenticated %}
        <a href="{{ url_for('auth.login') }}"><li>Log In</li></a> <a href="{{ url_for('auth.signup') }}"><li>Sign Up</li></a>
        {% endif %}
        {% if current_user.is_authenticated %}
        <a href="{{ url_for('main.profile') }}"><li>Profile</li></a>
        {% endif %}
        {% if current_user.is_authenticated %}
        <a href="{{ url_for('auth.logout') }}"><li>Log Out</li></a>
        {% endif %}
    </ul>
</div>
{{ post.title }}<br>
{{ post.poster.name }}<br>
{{ post.content }}<br>
{{ post.date_posted }}<br><br>
{% if current_user.id == post.poster_id %}
<a href="{{ url_for('edit_post', id=post.id) }}">Edit Post</a>
<a href="{{ url_for('delete_post', id=post.id) }}">Delete Post</a>
{% endif %}
<div id="comment-container">
    <h2>Comments</h2>
    {% for comment in comments %}
        {{ comment.timestamp }} <br>
        {{ comment.author_name.name }} <br>
        {{ comment.content }} <br>
        {% if current_user.id == comment.author_id %}
        <a href="{{ url_for('edit_comment', id=comment.id) }}">Edit Comment</a>
        <a href="{{ url_for('delete_comment', id=comment.id) }}">Delete Comment</a>
        {% endif %}
        <a href="{{ url_for('reply_comment', id=comment.id) }}">Reply</a>
        <br> <br>
        <div id="comment-reply-container">
        {% for reply in replies %}
            {% if reply.comment_id == comment.id %}
                {{ reply.timestamp }} <br>
                {{ reply.reply_author_name.name }} <br>
                {{ reply.content }} <br>
                <a href="{{ url_for('reply_thread', id=reply.id) }}">Reply</a> <br>
                <a href="{{ url_for('delete_reply', id=reply.id) }}">Delete</a>
                <div id="reply-thread-container">
                    {% for reply_thread in reply_threads %}
                    {% if reply_thread.reply_id == reply.id and not reply_thread.parent_id %}
                        {{ reply_thread.timestamp }} <br>
                        {{ reply_thread.author_name.name }} <br>
                        {{ reply_thread.content }} <br>
                        <a href="{{ url_for('reply_thread_continue', id=reply_thread.id) }}">Reply</a>
                        <a href="{{ url_for('delete_reply_thread', id=reply_thread.id) }}">Delete</a>
                        <div id="highest-depth-reply-container">
                                {% for reply_thread_continue in reply_thread_continued %}
                                    <div id="depth-marker" style="margin-left: {{ reply_thread_continue.depth|int }}%">
                                    {% if reply_thread_continue.parent_id == reply_thread.id or reply_thread_continue.reply_id == reply_thread_continue.children.reply_id and reply_thread_continue.reply_id == reply.id %}
                                        {{ reply_thread_continue.timestamp }} <br>
                                        {{ reply_thread_continue.author_name.name }} <br>
                                        {{ reply_thread_continue.content }} <br>
                                        <a href="{{ url_for('reply_thread_continue', id=reply_thread_continue.id) }}">Reply</a>
                                        <a href="{{ url_for('delete_reply_thread', id=reply_thread_continue.id) }}">Delete</a><br><br>
                                    {% endif %}
                                    </div>
                                {% endfor %}
                        </div>
                        <br>
                    {% endif %}
                {% endfor %}
                </div>
                <br>
            {% endif %}
        {% endfor %} <br>
        </div>
    {% endfor %}
</div>
<br>
<div id="add-comment-container">
    <form class="comment-form" action="{{ url_for('post_comment', id=post.id) }}" method="post">
        <label for="comment-content">Post a comment</label>
        <div class="field">
            <textarea id="comment-content" name="comment_body" placeholder="Say something"></textarea>
        </div>
        <input type="submit">
    </form>
</div>
<a href="{{ url_for('posts') }}">Back</a>

</body>
</html>